@import "../../../../current/theme/walker.css";

@define-color error_bg_color #C34043;
@define-color error_fg_color #DCD7BA;

* {
  all: unset;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: alpha(@background, 0.9);
  padding: 20px;
  border-radius: 20px;
  border: 1.2px solid darker(@border);
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @foreground;
}

.box {}

.search-container {
  border-radius: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input selection {
  background: lighter(lighter(lighter(@background)));
}

.input {
  caret-color: @foreground;
  background: darker(alpha(@background, 0.8));
  padding: 10px;
  color: @foreground;
}

.input:focus,
.input:active {}

.content-container {}

.placeholder {}

.scroll {}

.list {
  color: @foreground;
}

child {}

.item-box {
  border-radius: 10px;
  padding: 10px;
}

.item-quick-activation {
  background: alpha(@background, 0.25);
  border-radius: 5px;
  padding: 10px;
}

/* child:hover .item-box, */
child:selected .item-box {
  background: darker(alpha(@background, 0.6));
}

.item-text-box {}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border: 1px solid alpha(@background, 0.25);
  /* padding: 10px; */
  border-radius: 10px;
  color: @foreground;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds {
  padding-top: 10px;
  border-top: 1px solid lighter(@background);
  font-size: 12px;
  color: @foreground;
}

.global-keybinds {}

.item-keybinds {}

.keybind {}

.keybind-button {
  opacity: 0.5;
}

.keybind-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.35;
}

.keybind-label {
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid @foreground;
}

.error {
  padding: 10px;
  background: @error_bg_color;
  color: @error_fg_color;
}

:not(.calc).current {
  font-style: italic;
}

.preview-content.archlinuxpkgs {
  font-family: monospace;
}