configuration {
    font:                        "JetBrainsMono Nerd Font 12";
    show-icons:                  true;
    hover-select:                true;
    me-select-entry:             "";
    me-accept-entry:             "MousePrimary";
}

* {
    background-color:            #111111;
    text-color: #444F5F;
    border-color: #444F5F;
}

window {
    anchor:                      east;
    location:                    east;
    width:                       320px;
    height:                      70%;
    x-offset:                   -15px;
    y-offset:                    0px;
    background-color:            #111111;
    border:                      1px;
    border-radius:               0px;
    border-color: #444F5F;
}

mainbox {
    background-color:            transparent;
    spacing:                     0px;
    padding:                     5px;
    children:                    [ "inputbar", "listview" ];
}

inputbar {
    background-color:            transparent;
    text-color: #444F5F;
    padding:                     4px 0px;
    spacing:                     0;
    children:                    [ "prompt", "entry" ];
}

prompt {
    background-color:            transparent;
    text-color: #444F5F;
    padding:                     0px 4px 0px 0px;
    content:                     ">";
}

entry {
    background-color:            transparent;
    text-color: #444F5F;
    placeholder:                 "";
    cursor:                      default;
}

listview {
    background-color:            transparent;
    columns:                     1;
    lines:                       5;
    spacing:                     2px;
    cycle:                       true;
    fixed-height:                false;
    scrollbar:                   false;
    border:                      0;
}

element {
    orientation:                 vertical;
    background-color:            transparent;
    padding:                     0px;
    border-radius:               0px;
    cursor:                      default;
}

element selected {
    background-color:            transparent;
    border:                      2px;
    border-color: #444F5F;
}

element-icon {
    background-color:            transparent;
    size:                        170px;
    horizontal-align:            0.5;
    cursor:                      default;
}

element-text {
    enabled:                     false;
    width:                       0px;
    padding:                     0px;
    margin:                      0px;
}
